html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(149.43deg, #3E5BF7 18.57%, #AE0BD7 85.11%) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    margin-top: 42px;
    margin-bottom: 2px;
}
.logo-text {
    margin: 0;
}
.logo-text-style {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu {
    margin-top: 160px;
}
.btn-menu {
    margin-bottom: 50px;
    width: 460px;
}
.btn-menu-off {
    width: 196px;
    margin-top: 160px;
}